.projects-grid 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-items: center;
}


.projects-heading { 
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--light-color);
  margin: 75px;
}

@media (max-width: 600px) {
  .projects-grid {
    margin: 50px;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px;
  }

  .projects-heading {
    font-size: 2rem;  
    margin: 20px 0;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .projects-grid {
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 0 15px;
  }

  .projects-heading {
    font-size: 2.5rem;
    margin: 30px 0;
  }
}


@media (min-width: 1025px) {
  .projects-grid {
    margin: 100px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 0 20px;
  }

  .projects-heading {
    font-size: 3rem;
    margin: 40px 0 2rem 0;
  }
}




/* 📲 Tablet (601px - 1024px) */
/* 💻 Desktop (above 1024px) */